/* About */
.about {
    text-align: center;
    padding: 1ch;

    .title {
        font-size: 2em;
        margin: 15px 0;
    }

    .subtitle {
        font-size: 1.4em;
        margin-bottom: 15px;
    }

    .content {
        line-height: 2;
    }
}