label {
    width: min-content;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;

    input {
        margin-top: 5px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 4px;
        height: 2ch;
        width: 80vw;
        font-size: 1.1em;
    }
}

.button {
    background-color: $btn-color;
    margin-bottom: 25px;
    padding: 2.5ch 4ch;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.5s;
}

.button:hover, .button:focus {
    cursor: pointer;
    background-color: darken($btn-color, 5);
}